# Окружение и IDE
.idea/
.venv/
venv/
env/
.env

# Python кэш
__pycache__/
*.py[cod]
*$py.class

# База данных (SQLite)
*.db
*.db-journal
*.db-wal
*.sqlite3

# Логи и временные файлы
*.log
.pytest_cache/

/.idea/dbnavigator.xml
/.idea/workspace.xml
